.spinner {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
}

.spinning {
  animation: spinner 1s infinite;
}

@keyframes spinner {
  from {
    transform: rotate(90deg) scale(0.5);
  }
  to {
    transform: rotate(360deg) scale(0.5);
  }
}
